@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

.sa {
    width: 100%;
    height: 80vh;
    background: rgba(2, 2, 2, 0.521);
    position: relative;
  }
  
  .sa:before {
    content: '';
    position: absolute;
    background: url('../../assets/sa-submenu-bg.jpg') no-repeat center top/cover;
    height: 80vh;
    width: 100%;
    z-index: -1;
  }
  

.sa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sa .sa-content {
    display: block;
    position: absolute;
    top: 30%;
    padding: 1rem;
}

.sa h1 {
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}



/* MEDIA QUERIES */

@media screen and (max-width:940px) {

.sa h1 {
    font-size: 2rem;
}
}