@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');


.mdma {
    width: 100%;
    height: 80vh;
    background: #0000007a;
    position: relative;
  }
  
  .mdma:before {
    content: '';
    position: absolute;
    background: url('../../assets/addiction-submenu-bg.jpg') no-repeat center center/cover;
    height: 80vh;
    width: 100%;
    z-index: -1;
  }
  

.mdma {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mdma .mdma-content {
    display: block;
    position: absolute;
    top: 30%;
    padding: 1rem;
}

.mdma h1 {
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.mdma h3 {
    color: white;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

/* MEDIA QUERIES */

@media screen and (max-width:940px) {

.mdma h1 {
    font-size: 2rem;
}

.mdma h3 {
    font-size: 1rem;
}

}