@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

.wrapper1 {
    padding: 5rem 0 5rem 0;
    background: #1f1e1e;
}

.wrapper-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapper-content-left {
    width: 40%;
    text-align: center;
}

.wrapper-content-left img {
    width: 80%;
}

.wrapper-content-right {
    width: 600px;
    margin: auto;
}


.wrapper-content-right h1 {
    text-transform: uppercase;
    color: #c9860a;
    font-size: 1rem;
    letter-spacing: 8px; 
}

.wrapper-content-right p {
    text-align: justify;
    color: white;
    font-size: 14px;
}



@media screen and (max-width:940px)  {
    .wrapper-content-right {
        width: 100%;
        padding: 1rem 2rem;
    }

    .wrapper-content-right h1, h2, p {
        text-align: center;
    }

    .wrapper-content-right h2 {
        font-size: 2rem;
    }

}

@media screen and (max-width:940px) {
    .wrapper-content-left {
        width: 100vw;
    }
    .wrapper-content-left img {
        padding: 2rem;
    }
}

